/* Default sizing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
}

.registration-page {
    height: 100vh;
    background-image: url('./assets/banner-bg.png');
    background-repeat: no-repeat;
}

.reg-form {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    align-items: center;
}

.reg-form input {
    width: 50%;
    height: 2rem;
    margin-top: 1rem;
}

.reg-form select {
    margin-top: 1rem;
    width: 50%;
    height: 2rem;
}