/* Default sizing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
}


/* Styles for Register.jsx */

.registration-page {
    height: 100vh;
    background-image: url('./assets/banner-bg.png');
    background-repeat: no-repeat;
}

.reg-form {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    align-items: center;
}

.reg-form input {
    width: 50%;
    height: 2rem;
    margin-top: 1rem;
}

.reg-form select {
    margin-top: 1rem;
    width: 50%;
    height: 2rem;
}


/* Styles for Login.jsx */

.form-login {
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    align-items: center;
}

.form-login input {
    width: 50%;
    height: 2rem;
    margin-top: 1rem;
}

.login-page {
    height: 100vh;
    background-image: url('./assets/banner-bg.png');
    background-repeat: no-repeat;
}


/* Styles for FeedbackForm.jsx */

.dashboard-sec {
    background-image: url('./assets/banner-bg.png');
    background-repeat: no-repeat;
    height: 100vh;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.feedback-form input {
    height: 2rem;
    width: 50%;
}

.feedback-form select {
    width: 50%;
    height: 2rem;
}

.feedback-form textarea {
    width: 50%;
    height: 10rem;
}


/* Styles for SuccessPage.jsx */

.successpage {
    background-image: url('./assets/banner-bg.png');
    background-repeat: no-repeat;
    height: 100vh;
}


/* Styles for Feedbacks.jsx */

.feedbacks-sec {
    background-image: url('./assets/banner-bg.png');
    background-repeat: no-repeat;
    height: 100vh;
}


/* FeedbackCard.css */

.table {
    margin-bottom: 0;
    background-color: #343a40;
    color: #fff !important;
}

.card-body {
    padding: 0;
    height: max-content;
    width: 100%;
}